{% extends 'Admin/Header.html' %}
{% block content %}

<div class="container my-5">

    <!-- New Police Stations -->
    <h2 class="text-center mb-4">New Police Stations</h2>
    <div class="table-responsive mb-5">
        <table class="table table-bordered table-striped text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>SL No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Address</th>
                    <th>Photo</th>
                    <th>Proof</th>
                    <th>District</th>
                    <th>Place</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for i in police %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.policestation_name}}</td>
                    <td>{{i.policestation_email}}</td>
                    <td>{{i.policestation_contact}}</td>
                    <td>{{i.policestation_address}}</td>
                    <td><img src="{{i.policestation_photo.url}}" class="img-thumbnail" width="100"></td>
                    <td><img src="{{i.policestation_proof.url}}" class="img-thumbnail" width="100"></td>
                    <td>{{i.place.district.district_name}}</td>
                    <td>{{i.place.place_name}}</td>
                    <td>
                        <a href="{% url 'Admin:acceptstation' i.id %}" class="btn btn-success btn-sm me-1">
                            <i class="fa fa-check"></i> Accept
                        </a>
                        <a href="{% url 'Admin:rejectstation' i.id %}" class="btn btn-danger btn-sm">
                            <i class="fa fa-times"></i> Reject
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Accepted Police Stations -->
    <h2 class="text-center mb-4">Accepted Police Stations</h2>
    <div class="table-responsive mb-5">
        <table class="table table-bordered table-striped text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>SL No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Address</th>
                    <th>Photo</th>
                    <th>Proof</th>
                    <th>District</th>
                    <th>Place</th>
                </tr>
            </thead>
            <tbody>
                {% for i in policever %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.policestation_name}}</td>
                    <td>{{i.policestation_email}}</td>
                    <td>{{i.policestation_contact}}</td>
                    <td>{{i.policestation_address}}</td>
                    <td><img src="{{i.policestation_photo.url}}" class="img-thumbnail" width="100"></td>
                    <td><img src="{{i.policestation_proof.url}}" class="img-thumbnail" width="100"></td>
                    <td>{{i.place.district.district_name}}</td>
                    <td>{{i.place.place_name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Rejected Police Stations -->
    <h2 class="text-center mb-4">Rejected Police Stations</h2>
    <div class="table-responsive mb-5">
        <table class="table table-bordered table-striped text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>SL No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Address</th>
                    <th>Photo</th>
                    <th>Proof</th>
                    <th>District</th>
                    <th>Place</th>
                </tr>
            </thead>
            <tbody>
                {% for i in policerej %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.policestation_name}}</td>
                    <td>{{i.policestation_email}}</td>
                    <td>{{i.policestation_contact}}</td>
                    <td>{{i.policestation_address}}</td>
                    <td><img src="{{i.policestation_photo.url}}" class="img-thumbnail" width="100"></td>
                    <td><img src="{{i.policestation_proof.url}}" class="img-thumbnail" width="100"></td>
                    <td>{{i.place.district.district_name}}</td>
                    <td>{{i.place.place_name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% if msg %}
<script>
    alert("{{msg}}");
    window.location="{% url 'Admin:viewpolicestation' %}";
</script>
{% endif %}

{% endblock %}
